
.start-page {
    display: table;
    height: 100%;
    width: 100%;
}
.start-page .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.start-page .content .start-chat {
    margin: 0 auto;
    max-width: 400px;
}
.app-name {
    font-size: 40px;
}
.main-window {
    background-color: #eee;
    display: none;
    height: 100%;
    padding-left: 300px;
    position: relative;
}
.main-window .container {
    background-color: #fff;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}
.chat-window {
    height: 100%;
    position: relative;
}
.chat-window .container {
    box-sizing: border-box;
    height: 100%;
    padding: 0 0 35px;
    position: relative;
    width: 100%;
}
.form-controls {
    bottom: 0;
    left: 0;
    position: absolute;
}
.members-container {
    background-color: #eee;
    border-right: 1px solid #ddd;
    bottom: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
}
.members-container h4 {
    line-height: 25px;
    background-color: #e7e7e7;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: -10px -10px 10px;
}
.members-container .member {
    cursor: pointer;
    display: block;
    line-height: 25px;
    padding: 2px 3px;
}
.members-container .member:hover {
    background-color: #c2dbff;
}
.members-container .member.active {
    background-color: #dedede;
}
.members-container .member.highlight {
    color: #f60;
    font-weight: bold;
}
.messages-container {
    background-color: #fff;
    height: 100%;
    overflow: auto;
    position: relative;
    padding-bottom: 35px;
}
.messages {
    display: none;
    height: 100%;
    padding: 45px 15px 10px;
    overflow: auto;
}
.messages.active {
    display: block;
}
.messages .user {
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    background-color: #dff4ff;
    border-bottom: solid 1px #dadada;
    padding: 5px 10px;
    margin: -45px -15px 0;
}
.messages .user + .message {
    border-top: none;
    margin-top: 0;
}
.message {
    border-top: 1px solid #ededed;
    padding: 6px 5px;
    margin: 0 -5px;
}
.message.sender {
    color: #00f;
}
.message.receiver {
    color: #f00;
}
.message-sender {
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
}
.red { color: #f00; }
.green { color: #080; }


/* DEVELOPERS */
.developers-section {
    margin: 150px auto 0;
    max-width: 400px;
    text-align: center;
}

.developers-section:after {
    content: " ";
    display: block;
    clear: both;
}

.developers-section .developers {
    display: inline-block;
    width: auto;
}

.developers .developer:first-child {
    margin-left: 0;
}



.developer {
    margin: 0 0 0 10px;
    padding-top: 10px;
    width: 40px;
    height: 50px;
    position: relative;
    cursor: pointer;
    float:left;
}

.developer * {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.developer img {
    width: 100%;
    border-radius: 100%;
    opacity: 0.6;
}

.developer:hover img {
    opacity: 1;
}

.developer .name {
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    bottom: -15px;
}

.developer ul.links {
    list-style: none;
    border: 1px solid #428bca;
    background-color: #fff;
    width: 100px;
    margin: 0 0 0 -50px;
    padding: 0;
    position: absolute;
    bottom: 51px;
    left: 50%;
    border-radius: 4px;
}

.developer .name, .developer ul.links {
    display: none;
}

.developer:hover .name, .developer:hover ul.links {
    display: block;
}

.developer ul.links:after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    margin-left: -10px;
    border: 10px solid #428bca;
    border-color: #428bca transparent;
    border-bottom: none;
    position: absolute;
    bottom: -10px;
    left: 50%;
}

.developer ul.links li a {
    text-align: center;
    line-height: 1;
    display: block;
    padding: 6px 10px;
}

.developer ul.links li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #428bca;
}
